/* Featuring Section Starts Here */

h2{
    text-align: center;
    color: lightsalmon;
    margin-bottom: 30px;
}

.featuring .feature-item{
    display: flex;
    justify-content: space-between;
}

iframe{
    border-radius: 10px;
}


/* eng section starts here */


.style-1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.style-1 .design{
    height: 100px;
    width: 500px;
    background-color: white;
    position: absolute;
    top: 38%;
    left: 60%;
    transition: 1s;
}

.style-1:hover .design{
    width: 0px;
    transition: 1s;
}

.style-2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.style-2 .design{
    height: 100px;
    width: 500px;
    background-color: white;
    position: absolute;
    top: 38%;
    right: 60%;
    transition: 1s;
}

.style-2:hover .design{
    width: 0px;
    transition: 1s;
}


