@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


*{
    padding: 0%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    margin: 0 5%;
    padding-top: 10px;
}

a{
    text-decoration: none;
    color: cornflowerblue;
    font-weight: 700;
}

.header-section{
    background-image: url("/img/header-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    padding: 10px 5% 0 5%;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 50px;
}

.nav-items{
    display: flex;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li{
    padding: 5px 10px;
    font-size: 18px;
    align-items: center;
}

nav ul li a:hover{
    color: lightsalmon;
}

.drpdwn-items{
    display: none;
}


.drpdwn:hover .drpdwn-items{
    display: block;
    position: absolute;
    background-color: antiquewhite;
    border-radius: 10px;
}


/* Featuring Section Starts Here */

h2{
    text-align: center;
    color: lightsalmon;
    margin-bottom: 30px;
}

.featuring .feature-item{
    display: flex;
    justify-content: space-between;
}

iframe{
    border-radius: 10px;
}